@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", serif;
}




/* Estilos generales para el header */
.header {
  position: relative;
  height: 100vh;  
  min-height: 50px;  
  background-image:url(FondoCoche.jpg);  
  background-size: cover;
  overflow: hidden;
  z-index: 1000;
}

/* Estilo del overlay en el header */
.header .overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);  
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

/* Estilo del SVG de la forma en el header */
.header .forma svg {
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  z-index: 9;
}

/* Menú de navegación */
.navegacion {
  position: relative;
  top: 20px;
  left: 85%;
  transform: translateX(-50%);
  z-index: 10;
}

.foto {
  position: absolute;
  top: -90px;
  left: -20%;
  transform: translateX(-50%);
  width: 300px;
}
.navegacion .reg {
  position: relative;
  right: -115%;
  transform: translateX(-50%);
  z-index: 10;
}

.pos{
  position: relative;
  right: -15%;
  transform: translateX(-50%);
  z-index: 10;
}

.navegacion ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navegacion li {
  display: inline;
  margin-top: 50px;
  color: #fff;
  font-size: 25px;
}

.menu-login .reg {
  display: flex;
  gap: 30px;
}

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.navegacion a:hover {
  color: #ff0000; 
}

.navegacion .menu-toggle {
  position: relative;
  display: inline-block;
}

.navegacion .menu-desplegable {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 999; 
}

.navegacion .menu-toggle:hover .menu-desplegable {
  display: block; 
}

.navegacion .menu-desplegable a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.navegacion .menu-desplegable a:hover {
  background-color: #444;
}


.title {
  display: block;
  white-space: nowrap;
  margin-bottom: 150px;
  top: 40%;
  width: 75ch;
  z-index: 3;
  letter-spacing: 3px;
  text-shadow: 2px 2px 1px #000;
  color: #fff;
  font-size: 1.7em;
  font-weight: bold;
  animation: typing 1.5s steps(15), blink .5s infinite step-end alternate;
  overflow: hidden;
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;                 
  background: linear-gradient(90deg, #ff0000,#000000);                                          
  padding: 0px 0px;
}



.fa-brands {
  color: white;
  font-size: 30px
}

.CocheContainer {
  display: flex;
  justify-content: space-between;  
  gap: 20px; 
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  background: #fff;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  
}

.CocheItem {
  width: 550px;  
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.CochePortada {
  width: 100%; 
  height: auto; 
  border-radius: 5px;
}


.boton:hover {
  background-color: #0056b3;
}

/* Estilo para los coches reservados */
.CocheItem2.reservado {
  position: relative;
  
 
}

/* Etiqueta de "Reservado" */
.etiqueta-reservado {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 305px;
  margin-right: 17px;
  
}

/* Estilo de la imagen dentro de los contenedores */
.CochePortada2 {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
}

.boton {
  background-image: linear-gradient(to right, #090909, #ff0000);
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  font-weight: bold ;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s;
  width: 400px;
  height: 100px;
}



/*segunda pagina*/

.header2 {
  position: relative;
  height: 13vh; 
  min-height: 50px; 
  background-color: #000;
  background-size: cover;
  
  z-index: 1000;
}

/* Estilo del overlay en el header */
.header2 .overlay {
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(90deg, #ff0000, #000000);
  padding: 20px 0;  
  margin-top: 20px; 
  position: relative; 
  z-index: 10; 
}

.footer4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(90deg, #ff0000, #000000);
  padding: 20px 0; 
  margin-top: 130px;  
  position: relative; 
  z-index: 10; 
}

.imgfooter {
  width: 100px;
}


.CocheContainer2 {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  
}

/* Estilo para el contenedor del filtro */
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  background: #fff;
  
  min-height: 60vh;
  width: 100%;
  
}
.contenedor2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  background: #fff;
  width: 100%;
  
}

/* Estilo para el contenedor del filtro */
.contenedor3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  background: #fff;
  
  min-height: 60vh;
  width: 100%;
  margin-top: 50px;
}

.contenedor4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  background: #fff;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  margin-top: 50px;
  
}

/* Estilos para la imagen */
.CochePortada2 {
  width: 100%;
  max-width: 480px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Estilo básico para los elementos del coche */
.CocheItem2 {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* Efecto de hover con animación de escala y sombra */
.CocheItem2:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2); 
  background-color: #f9f9f9; 
}

/* Animación de sombreado en la imagen del coche */
.CocheItem2:hover .CochePortada2 {
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}

/* Sombra que se mueve de esquina a esquina */
.CocheItem2::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  z-index: -1; 
}

.CocheItem2:hover::before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.5s ease; 
}

/* Estilo de texto dentro del coche */
.CocheItem2 a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-top: 15px;
  text-decoration: none;
  transition: color 0.3s ease; 
}

/* Cambio de color del texto al hacer hover */
.CocheItem2:hover a {
  color: #ff0000;
}

.coche-detalles {
  font-size: 16px;
  margin-top: 10px;
}

.coche-detalles p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 7px;
}

.coche-detalles .precio {  
  text-align: right; 
  font-weight: bold; 
}

.etiqueta-combustible {
  display: flex; 
  align-items: center; 
  gap: 5px; 
  margin-top: 7px;
}

.etiqueta-img {
  width: 25px; 
  height: auto;
}

.combustible {
  margin-left: 5px; 
  font-weight: normal;
}

.li {
  color: #fff;
}

/* Filtro horizontal */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  width: 100%;
  height: 160px;
}

/* Alineación de las etiquetas y los inputs */
.filtro {
  font-size: 19px;
  color: #ffffff;
  width: 120px;
  text-align: right;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  
}

/* Contenedor para los inputs y sliders */
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 10px;
}

/* Estilo para los selects */
form select {
  width: 200px;
  padding: 8px;
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}

/* Estilo para los inputs de texto */
form input[type="text"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

/* Estilo para los sliders */
.noUi-target {
  width: 200px !important; 
  
}

.noUi-base {
  background-color: #ffffff !important;  
}

.noUi-connect {
  background: #767676 !important;  
}

.noUi-origin {
  background: #ffffff !important;  
}

/* Estilo para los handles de los sliders (los botones de los sliders) */
.noUi-handle {
    background-color: #000000 !important; 
}

/* Si prefieres el círculo con un color diferente al del fondo */
.noUi-handle:active, .noUi-handle:hover {
    background-color: #5c5c5c !important;  
}

/* Sliders: km y año */
#km_range, #anio_range {
  width: 200px;
}

/* Texto para los valores de los sliders */
form p {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
  text-align: center;
}

/* Botón de filtro */
form button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #cc0000;
}

/* Aseguramos que los sliders estén centrados */
.form-control label {
  display: block;
  text-align: center;
}

#km_range, #anio_range {
  margin-top: 13px;
  margin-bottom: 10px;
}
main {
  padding: 40px 20px;
}
.nosotros {
  background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0px 8px rgba(6, 6, 6, 6.1);
    max-width: 900px;
    text-align: center;
}

.nosotros h1, .contacto h1 {
  font-size: 30px;
  text-align: center;
  color: #e74c3c;
}

.nosotros h2, .contacto h2 {
  font-size: 30px;
  text-align: center;
  color: #e74c3c;
  margin-top: 30px;
}


.nosotros p, .contacto p {
  font-size: 26px;
  line-height: 1.6;
  color: #333;
  margin-top: 20px;
}

.nosotros ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 26px;
  margin-top: 20px;
}

.nosotros ul li {
  margin-bottom: 28px;
}


@media (max-width: 2190px) {
  /* Header */
  .header {
      height: 110vh;  
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 40%;
  }

  .foto {
    position: absolute;
    top: -113px;
    left: -25%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
  }

  .title {
      font-size: 1.7em;  
      margin-bottom: 200px;
      
  }

  /* Menú de navegación */
  .navegacion ul {
      gap: 30px;  
      font-size: 22px;
      margin-left: -100px;
  }



  .navegacion li {
      font-size: 20px;  
      margin-top: 30px;
  }

  .navegacion a {
      font-size: 22px;  
      
  }

  .navegacion .reg {
    position: relative;
    
    right: -95%;
    transform: translateX(-50%);
    z-index: 10;
    
    
  }

  
  .pos{
    position: relative;
    right: -10%;
    transform: translateX(-50%);
    z-index: 10;
    
  }

  /* Botones */
  .boton {
      width: 300px;
      height: 80px;
      font-size: 20px;
  }

  /* Contenedor de coches */
  .CocheContainer {
      gap: 40px;  
  }

  /* Contenedor de coches */
  .CocheContainer2 {
    gap: 15px;
    max-width: 90%;
}


  .CocheItem {
      width: 400px;  
      height: 350px;
  }

  /* Footer */
  .footer2 {
      padding: 10px 0;  
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .coche-detalles {
    font-size: 14px;
    margin-top: 10px;
  }

  .etiqueta-reservado {
    top: -45px;
  }

  .filtro {
      font-size: 16px;  
      width: 120px;  
      
  }
}

@media (max-width: 1920px) {
  /* Header */
  .header {
      height: 110vh;  
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 40%;
  }

  .foto {
    position: absolute;
    top: -113px;
    left: -25%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
  }

  .title {
      font-size: 1.7em;  
      margin-bottom: 200px;
      
  }

  /* Menú de navegación */
  .navegacion ul {
      gap: 30px;  
      font-size: 22px;
      margin-left: -100px;
  }



  .navegacion li {
      font-size: 20px;  
      margin-top: 30px;
  }

  .navegacion a {
      font-size: 22px;  
      
  }

  .navegacion .reg {
    position: relative;
    
    right: -85%;
    transform: translateX(-50%);
    z-index: 10;
    
    
  }

  
  .pos{
    position: relative;
    right: -10%;
    transform: translateX(-50%);
    z-index: 10;
    
  }

  /* Botones */
  .boton {
      width: 300px;
      height: 80px;
      font-size: 20px;
  }

  /* Contenedor de coches */
  .CocheContainer {
      gap: 40px;  
  }

  /* Contenedor de coches */
  .CocheContainer2 {
    gap: 15px;
    max-width: 90%;
}


  .CocheItem {
      width: 400px;  
      height: 350px;
  }

  /* Footer */
  .footer2 {
      padding: 10px 0;  
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .coche-detalles {
    font-size: 14px;
    margin-top: 10px;
  }

  .etiqueta-reservado {
    top: -60px;
  }

  .filtro {
      font-size: 16px;  
      width: 120px;  
      
  }
}

@media (max-width: 1780px) { 
  .navegacion .reg {
    position: relative;
    
    right: -70%;
    transform: translateX(-50%);
    z-index: 10;
    
    
  }

  
  .pos{
    position: relative;
    right: -7%;
    transform: translateX(-50%);
    z-index: 10;
    
  }

}

@media (max-width: 1687px) { 
  .navegacion .reg {
    position: relative;
    
    right: -55%;
    transform: translateX(-50%);
    z-index: 10;
    
    
  }

  
  .pos{
    position: relative;
    right: -3%;
    transform: translateX(-50%);
    z-index: 10;
    
  }

  .navegacion a {
    font-size: 19px;  
    
    
}

  
}


@media (max-width: 1440px) {
  
  /* Header */
  .header {
      height: 110vh;  
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -113px;
    left: -22%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
  }

  .title {
    margin-bottom: 70px;
    width: 113.5ch;
    font-size: 1.3em;
    text-align: center;
  }

  /* Menú de navegación */
  .navegacion ul {
      gap: 13px;  
      font-size: 22px;
      
      
  }



  .navegacion li {
      font-size: 20px;  
      margin-top: 30px;
  }

  .navegacion a {
      font-size: 20px;  
      
      
  }

  .navegacion .reg {
    position: relative;
    
    right: -56%;
    transform: translateX(-50%);
    z-index: 10;
    
    
  }

  

  .pos{
    position: relative;
    right: -7%;
    transform: translateX(-50%);
    z-index: 10;
    
  }

  /* Botones */
  .boton {
      width: 300px;
      height: 80px;
      font-size: 20px;
  }

  /* Contenedor de coches */
  .CocheContainer {
      gap: 40px;  
  }

  .contenedor {
    margin-top: 140px;
    width: 100%;
  }

  /* Contenedor de coches */
  .CocheContainer2 {
    gap: 15px;
    max-width: 95%;
  }

  .coche-detalles {
    font-size: 10px;
    margin-top: 10px;
  }


  .CocheItem {
      width: 400px; 
      height: 350px;
  }

  /* Footer */
  .footer2 {
      padding: 10px 0;  
  }

  

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: -115px;
  }

  .filtro {
      font-size: 16px;  
      width: 92px;  
      
  }

  form select {
    width: 100px;
    padding: 8px;
    font-size: 19px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
  }
}

  @media (max-width: 1366px) {
   
    
    /* Header */
    .header {
        height: 110vh;  /* Reduce la altura del header en pantallas grandes */
    }
  
    /* Ajustar logo y título */
    .header .overlay img {
        max-width: 70%;
    }
  
    .foto {
      position: absolute;
      top: -87px;
      left: -22%;
      transform: translateX(-50%);
      z-index: 10;
      width: 250px;
    }
  
    .title {
      margin-bottom: 70px;
      width: 100%;
      font-size: 1.3em;
      text-align: center;
    }
  
    /* Menú de navegación */
    .navegacion ul {
        gap: 13px;  
        font-size: 22px;
        
        
    }
  
  
  
    .navegacion li {
        font-size: 20px; 
        margin-top: 30px;
    }
  
    .navegacion a {
        font-size: 18px;  
        
        
    }
  
    .navegacion .reg {
      position: relative;
      margin: 2px;
      right: -70%;
      transform: translateX(-50%);
      z-index: 10;
      
      
    }
  
    
  
    .pos{
      position: relative;
      right: -7%;
      transform: translateX(-50%);
      z-index: 10;
      
    }
  
    /* Botones */
    .boton {
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
  
    /* Contenedor de coches */
    .CocheContainer {
        gap: 40px;  
    }
  
    .contenedor {
      margin-top: 140px;
      width: 100%;
    }
  
    /* Contenedor de coches */
    .CocheContainer2 {
      gap: 15px;
      max-width: 95%;
    }
  
    .coche-detalles {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
    .CocheItem {
        width: 400px; 
        height: 350px;
    }
  
    /* Footer */
    .footer2 {
        padding: 10px 0;  
    }
  
    /* Ajustar los contenedores dentro del footer */
    .imgfooter {
        width: 120px;
    }
  
    /* Mejorar visibilidad de botones y elementos interactivos */
    .boton:hover {
        transform: scale(1.1);
    }
  
    .CocheItem2 {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  
    /* Otros ajustes */
    .CocheItem {
        margin-bottom: 30px;
    }
  
    .etiqueta-reservado {
      top: -128px;
    }
  
    .filtro {
        font-size: 16px;  
        width: 78px;  
        
    }
  
    form select {
      width: 100px;
      padding: 8px;
      font-size: 19px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape){
    
    
    /* Header */
    .header {
        height: 180vh;  
    }
  
    /* Ajustar logo y título */
    .header .overlay img {
        max-width: 70%;
    }
  
    .foto {
      position: absolute;
      top: -87px;
      left: -22%;
      transform: translateX(-50%);
      z-index: 10;
      width: 250px;
    }
  
    .title {
      margin-bottom: 70px;
      width: 100%;
      font-size: 1.3em;
      text-align: center;
    }
  
    /* Menú de navegación */
    .navegacion ul {
        gap: 13px;  
        font-size: 22px;
        
        
    }
  
  
  
    .navegacion li {
        font-size: 20px;  
        margin-top: 30px;
    }
  
    .navegacion a {
        font-size: 17px;  
        
        
    }
  
    .navegacion .reg {
      position: relative;
      margin: 2px;
      right: -58%;
      transform: translateX(-50%);
      z-index: 10;
      gap: 6px;
      
      
    }
  
    .pos{
      position: relative;
      right: -6%;
      transform: translateX(-50%);
      z-index: 10;
      gap: 6px;
      
    }
  
    /* Botones */
    .boton {
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
  
    /* Contenedor de coches */
    .CocheContainer {
        gap: 40px;  
    }
  
    .contenedor {
      margin-top: 140px;
      width: 100%;
    }
  
    /* Contenedor de coches */
    .CocheContainer2 {
      gap: 15px;
      max-width: 95%;
    }
  
    .coche-detalles {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
    .CocheItem {
        width: 100%;  
        height: 100%;
    }
  
    /* Footer */
    .footer2 {
        padding: 10px 0;  
    }
  
    /* Ajustar los contenedores dentro del footer */
    .imgfooter {
        width: 120px;
    }
  
    /* Mejorar visibilidad de botones y elementos interactivos */
    .boton:hover {
        transform: scale(1.1);
    }
  
    .CocheItem2 {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  
    /* Otros ajustes */
    .CocheItem {
        margin-bottom: 30px;
    }
  
    .etiqueta-reservado {
      top: -138px;
      font-size: 10px;
    }

  
    .filtro {
        font-size: 14px;  
        width: 65px;  
        margin-right: 2px;
    }
  
    form select {
      width: 100px;
      padding: 8px;
      font-size: 19px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
    }
}


@media (max-width: 1024px) {
 
  
      /* Header */
      .header {
        height: 180vh;  
    }

    .header .forma svg {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      
      
    }
  
    /* Ajustar logo y título */
    .header .overlay img {
        max-width: 50%;
    }
  
    .foto {
      position: absolute;
      top: -57px;
      left: -24%;
      transform: translateX(-50%);
      z-index: 10;
      width: 200px;
    }
  
    .title {
      margin-bottom: 70px;
      width: 100%;
      font-size: 1.1em;
      text-align: center;
    }
  
    /* Menú de navegación */
    .navegacion ul {
        gap: 13px;  
        font-size: 22px;
        
        
    }
  
  
  
    .navegacion li {
        font-size: 15px;  
        margin-top: 40px;
    }
  
    .navegacion a {
        font-size: 14px;  
        
        
    }
  
    .navegacion .reg {
      position: relative;
      margin-top: 2px;
      right: -55%;
      transform: translateX(-50%);
      z-index: 10;
      gap: 10px;
      
    }
  
    .pos{
      position: relative;
      right: -5%;
      transform: translateX(-50%);
      z-index: 10;
      
      
    }

    .header2 {
      min-height: 120px;
    }
  
    /* Botones */
    .boton {
        width: 300px;
        height: 80px;
        font-size: 20px;
    }
  
    /* Contenedor de coches */
    .CocheContainer {
        gap: 40px;  
    }
  
    .contenedor {
      margin-top: 140px;
      width: 100%;
      min-height: 120vh;
    }
  
    /* Contenedor de coches */
    .CocheContainer2 {
      gap: 15px;
      max-width: 95%;
    }
  
    .coche-detalles {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
    .CocheItem {
        width: 280px;  
        height: 230px;
    }
  
    /* Footer */
    .footer2 {
        padding: 10px 0;  
    }
  
    /* Ajustar los contenedores dentro del footer */
    .imgfooter {
        width: 120px;
    }
  
    /* Mejorar visibilidad de botones y elementos interactivos */
    .boton:hover {
        transform: scale(1.1);
    }
  
    .CocheItem2 {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  
    /* Otros ajustes */
    .CocheItem {
        margin-bottom: 30px;
    }
  
    .etiqueta-reservado {
      top: -174px;
      font-size: 8px;
    }
  
    
  
    .noUi-horizontal .noUi-tooltip {
      font-size: 8px;
    }
  
    .filtro {
        font-size: 16px;  
        width: 74px;  
        
    }
  
    form select {
      width: 100px;
      padding: 8px;
      font-size: 19px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
    }
  }

  
@media (max-width: 970px) {
 
    
    body {
      width: 100%;
    }
      /* Header */
      .header {
        height: 180vh;  
    }

    .header .forma svg {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      
      
    }
  
    /* Ajustar logo y título */
    .header .overlay img {
        max-width: 50%;
    }
  
    .foto {
      position: absolute;
      top: -57px;
      left: -24%;
      transform: translateX(-50%);
      z-index: 10;
      width: 200px;
    }
  
    .title {
      margin-bottom: 70px;
      width: 100%;
      font-size: 1.1em;
      text-align: center;
    }
  
    /* Menú de navegación */
    .navegacion ul {
        gap: 13px;  
        font-size: 22px;
        
        
    }
  
  
  
    .navegacion li {
        font-size: 15px;  
        margin-top: 40px;
    }
  
    .navegacion a {
        font-size: 12px;  
        
        
    }
  
    .navegacion .reg {
      position: relative;
      margin-top: 2px;
      right: -50%;
      transform: translateX(-50%);
      z-index: 10;
      gap: 10px;
      
    }
  
    .pos{
      position: relative;
      right: -5%;
      transform: translateX(-50%);
      z-index: 10;
      
      
    }

    .header2 {
      min-height: 120px;
    }
  
    /* Botones */
    .boton {
        width: 200px;
        height: 80px;
        font-size: 14px;
    }
  
    /* Contenedor de coches */
    .CocheContainer {
        gap: 40px;  
    }
  
    .contenedor {
      margin-top: 140px;
      width: 100%;
      min-height: 80vh;
    }
  
    /* Contenedor de coches */
    .CocheContainer2 {
      gap: 15px;
      max-width: 95%;
    }
  
    .coche-detalles {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
    .CocheItem {
        width: 100%; 
        height: 100%;
    }
  
    /* Footer */
    .footer2 {
        padding: 10px 0;  
    }
  
    /* Ajustar los contenedores dentro del footer */
    .imgfooter {
        width: 120px;
    }
  
    /* Mejorar visibilidad de botones y elementos interactivos */
    .boton:hover {
        transform: scale(1.1);
    }
  
    .CocheItem2 {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  
    /* Otros ajustes */
    .CocheItem {
        margin-bottom: 30px;
    }
  
    .etiqueta-reservado {
      top: -184px;
      font-size: 8px;
    }
  
    
  
    .noUi-horizontal .noUi-tooltip {
      font-size: 8px;
    }
  
    .filtro {
        font-size: 16px;  
        width: 61px;  
        
    }
  
    form select {
      width: 100px;
      padding: 8px;
      font-size: 19px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
    }
  }

  @media (max-width: 850px) {
 
    
    body {
      width: 100%;
    }
      /* Header */
      .header {
        height: 180vh;  
    }

    .header .forma svg {
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 100%;
      
      
    }
  
    /* Ajustar logo y título */
    .header .overlay img {
        max-width: 50%;
    }
  
    .foto {
      position: absolute;
      top: -57px;
      left: -24%;
      transform: translateX(-50%);
      z-index: 10;
      width: 200px;
    }
  
    .title {
      margin-bottom: 70px;
      width: 100%;
      font-size: 1.1em;
      text-align: center;
      white-space: pre-wrap;
    }
  
    /* Menú de navegación */
    .navegacion ul {
        gap: 13px;  
        font-size: 22px;
        
        
    }
  
  
  
    .navegacion li {
        font-size: 15px;  
        margin-top: 40px;
    }
  
    .navegacion a {
        font-size: 12px;  
        
        
    }
  
    .navegacion .reg {
      position: relative;
      margin-top: 2px;
      right: -50%;
      transform: translateX(-50%);
      z-index: 10;
      gap: 10px;
      
    }
  
    .pos{
      position: relative;
      right: -5%;
      transform: translateX(-50%);
      z-index: 10;
      
      
    }

    .header2 {
      min-height: 120px;
    }
  
    /* Botones */
    .boton {
        width: 150px;
        height: 80px;
        font-size: 14px;
    }
  
    /* Contenedor de coches */
    .CocheContainer {
        gap: 40px;  
        width: 100%;
    }
  
    .contenedor {
      margin-top: 140px;
      width: 100%;
      min-height: 80vh;
    }
  
    /* Contenedor de coches */
    .CocheContainer2 {
      gap: 15px;
      max-width: 95%;
    }
  
    .coche-detalles {
      font-size: 10px;
      margin-top: 10px;
    }
  
  
    .CocheItem {
        width: 100%; 
        height: 100%;
    }
  
    /* Footer */
    .footer2 {
        padding: 10px 0;  
    }
  
    /* Ajustar los contenedores dentro del footer */
    .imgfooter {
        width: 120px;
    }
  
    /* Mejorar visibilidad de botones y elementos interactivos */
    .boton:hover {
        transform: scale(1.1);
    }
  
    .CocheItem2 {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
  
    /* Otros ajustes */
    .CocheItem {
        margin-bottom: 30px;
    }
  
    .etiqueta-reservado {
      top: -184px;
      font-size: 8px;
    }
  
    
  
    .noUi-horizontal .noUi-tooltip {
      font-size: 8px;
    }
  
    .filtro {
        font-size: 16px;  
        width: 61px;  
        
    }
  
    form select {
      width: 100px;
      padding: 8px;
      font-size: 19px;
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
    }
  }





  
@media (max-width: 768px) {
  body {
    width: 100%;
  }
    /* Header */
    .header {
      height: 180vh;  
  }
  /* Header */
  

  .header .forma svg {
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    
    
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -48px;
    left: -23%;
    transform: translateX(-50%);
    
    width: 180px;
  }

  .title {
    margin-bottom: 70px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    white-space: pre-wrap; 
  }

  /* Menú de navegación */
  @media (max-width: 768px) {
    /* Ocultar el menú de navegación principal */
    .navegacion {
        display: none;
    }
    

    /* Menú móvil */
/* Menú de navegación */
.navegacion-movil ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  list-style: none;
  font-size: 16px;
  position: relative;
  height: 14vh;
  
}




.navegacion-movil .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  background-color: rgba(51, 51, 51, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.1s ease, transform 0.1s ease;
  height: auto;
}

.navegacion-movil .sub-menu li {
  text-align: center;
}

.navegacion-movil .menu-desplegable {
  position: relative;  
  margin-top: 15px;
}

.navegacion-movil .menu-desplegable:hover .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion-movil .menu-activo .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efectos hover en los enlaces del sub-menú */
.navegacion-movil .sub-menu a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion-movil .sub-menu a:hover {
  background-color: #444;
  color: #ff9e00; 
}




.navegacion-movil .sub-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  
}


.simbolo-usuario:hover,
.simbolo-menu:hover {
  color: #ff0000; 
}



/* Ajustes para mejorar la visibilidad del sub-menú */
.navegacion-movil .sub-menu li {
  transition: background-color 0.3s ease;
}

.navegacion-movil .menu-desplegable:hover .sub-menu li:hover {
  background-color: #444;
}
}
@media (max-width: 768px) {
  /* Botones */
  .boton {
  
      width: 100%; 
      height: 70px; 
      font-size: 18px; 
  }

  /* Contenedor de coches */
  .CocheContainer {
      gap: 350px; 
      grid-template-columns: 1fr; 
      display: grid; 
  }

  .contenedor {
    margin-top: 140px;
    width: 100%;
    min-height: 180vh;
    
  }

  .contenedor2 {
    position: relative;
    
  }

  /* Contenedor de coches */
  .CocheContainer2 {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 60px; 
    
  }

  .coche-detalles {
    font-size: 17px;
    margin-top: 10px;
  }

  


  .CocheItem {
    width: 600px; 
    max-width: 600px; 
   
  }

  /* Footer */
  .footer2 {
      width: 100%;
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
  }

  .CochePortada2 {
    max-width: 100%; 
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: 149px;
    font-size: 15px;
  }

  .filtro {
      font-size: 10px;  
      width: 112px;  
      margin-top: 14px;
      
  }

  .noUi-target {
    width: 110px !important; 
    
  }

  form select {
    width: 75px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
  }

  .noUi-horizontal .noUi-tooltip {
    font-size: 8px;
  }

  form {
      
      margin-top: 30px;
      margin-left: -25px;
  }
  
 /* Logo más grande sin cambiar el tamaño del header */
.navegacion-movil img.foto2 {
  width: 200px;  
  height: auto;  
  transform: scale(1.2);  
  transition: transform 0.3s ease; 
  margin-left: 25px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);
  width: 100%;
  height: 160px;
 
  position: relative; 
}


@media (max-width: 768px) {
  .navegacion-movil img.foto2 {
      width: 180px;  
      margin-top: 10px;
  }
}

  .simbolo-usuario {
    font-size: 40px;
    margin-right: 20px;
    margin-left: 20px;
    color: #ffffff;
  }

  .simbolo-menu {
    font-size: 40px;
    margin-left: 380px ;
    color: #ffffff;    
    
  }

  
}
}
@media (min-width: 769px) {
    .menu-desplegable {
        display: none;  
    }

    .foto2 {
      display: none;
    }
}


@media (min-width: 425px) and (max-width: 767px) {
  
  body {
    width: 100%;
  }
  

  .header .forma svg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    
    
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -48px;
    left: -23%;
    transform: translateX(-50%);
    
    width: 180px;
  }

  .title {
    margin-bottom: 70px;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    white-space: pre-wrap; 
  }

  
    /* Ocultar el menú de navegación principal */
    .navegacion {
        display: none;
    }
  }
  @media (min-width: 425px) and (max-width: 767px) {
    /* Menú móvil */
/* Menú de navegación */
.navegacion-movil ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  list-style: none;
  font-size: 16px;
  position: relative;
  height: 14vh;
  
}




.navegacion-movil .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  background-color: rgba(51, 51, 51, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: auto;
}

.navegacion-movil .sub-menu li {
  text-align: center;
}

.navegacion-movil .menu-desplegable {
  position: relative;  
  margin-top: 15px;
  
}

.navegacion-movil .menu-desplegable:hover .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion-movil .menu-activo .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efectos hover en los enlaces del sub-menú */
.navegacion-movil .sub-menu a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion-movil .sub-menu a:hover {
  background-color: #444;
  color: #ff9e00; 
}




.navegacion-movil .sub-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  
}


.simbolo-usuario:hover,
.simbolo-menu:hover {
  color: #ff0000; 
}



/* Ajustes para mejorar la visibilidad del sub-menú */
.navegacion-movil .sub-menu li {
  transition: background-color 0.3s ease;
}

.navegacion-movil .menu-desplegable:hover .sub-menu li:hover {
  background-color: #444;
}
}
@media (min-width: 425px) and (max-width: 767px) {
  /* Botones */
  .boton {
  
    width: 100%; 
    height: 70px; 
    font-size: 18px; 
}

/* Contenedor de coches */
.CocheContainer {
    gap: 150px;  
    grid-template-columns: 1fr; 
    display: grid; 
}

.contenedor {
  margin-top: 140px;
  width: 100%;
  min-height: 220vh;
  
}

.contenedor2 {
  position: relative;
  
}

/* Contenedor de coches */
.CocheContainer2 {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 60px; 
  
}

.coche-detalles {
  font-size: 17px;
  margin-top: 10px;
}




.CocheItem {
  width: 100%; 
  max-width: 100%; 
 
}

  /* Footer */
  .footer2 {
      width: 100%;
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
  }

  .CochePortada2 {
    max-width: 100%; 
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: -70px;
    font-size: 15px;
  }

  .filtro {
      font-size: 15px;  
      width: 75px;  
      margin-right: 4px;
      
  }

  .noUi-target {
    width: 90px !important; 
  }

  form select {
    width: 55px;
    padding: 8px;
    font-size: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
  }

  .noUi-horizontal .noUi-tooltip {
    font-size: 8px;
    
  }

  form {
      
      margin-top: 20px;
      margin-left: -14px;
      

  }
  
 /* Logo más grande sin cambiar el tamaño del header */
.navegacion-movil img.foto2 {
  width: 200px;  
  height: auto;  
  transform: scale(1.2); 
  transition: transform 0.3s ease;  
  margin-left: 25px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);                                          
  width: 100%;
  height: 190px;
  
  position: relative; 
}

/* Si deseas que el logo se ajuste bien en pantallas pequeñas */
@media (min-width: 425px) and (max-width: 767px) {
  .navegacion-movil img.foto2 {
      width: 180px;  
      margin-top: 10px;
  }


.simbolo-usuario {
  font-size: 30px;  
  margin-left: 5%;  
 
  color: #ffffff;
}

/* Ajustes del simbolo de menú */
.simbolo-menu {
  font-size: 30px;  
  margin-left: 100px;  
  color: #ffffff;
}

  
}

}


@media (max-width: 425px) {
  
  body {
    width: 100%;
  }
  

  .header .forma svg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    
    
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -48px;
    left: -23%;
    transform: translateX(-50%);
    
    width: 180px;
  }

  .title {
    margin-bottom: 70px;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    white-space: pre-wrap; 
  }

  
    /* Ocultar el menú de navegación principal */
    .navegacion {
        display: none;
    }
  }
    @media (max-width: 425px) {
    /* Menú móvil */
/* Menú de navegación */
.navegacion-movil ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  list-style: none;
  font-size: 16px;
  position: relative;
  height: 14vh;
  
}




.navegacion-movil .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  background-color: rgba(51, 51, 51, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: auto;
}

.navegacion-movil .sub-menu li {
  text-align: center;
}

.navegacion-movil .menu-desplegable {
  position: relative;  
  margin-top: 15px;
  
}

.navegacion-movil .menu-desplegable:hover .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion-movil .menu-activo .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efectos hover en los enlaces del sub-menú */
.navegacion-movil .sub-menu a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion-movil .sub-menu a:hover {
  background-color: #444;
  color: #ff9e00; 
}




.navegacion-movil .sub-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  
}


.simbolo-usuario:hover,
.simbolo-menu:hover {
  color: #ff0000; 
}



/* Ajustes para mejorar la visibilidad del sub-menú */
.navegacion-movil .sub-menu li {
  transition: background-color 0.3s ease;
}

.navegacion-movil .menu-desplegable:hover .sub-menu li:hover {
  background-color: #444;
}
}
@media (max-width: 425px) {
  /* Botones */
  .boton {
  
    width: 100%; 
    height: 70px; 
    font-size: 18px; 
}

/* Contenedor de coches */
.CocheContainer {
    gap: 150px;  
    grid-template-columns: 1fr; 
    display: grid; 
}

.contenedor {
  margin-top: 140px;
  width: 100%;
  min-height: 220vh;
  
}

.contenedor2 {
  position: relative;
  
}

/* Contenedor de coches */
.CocheContainer2 {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 60px; 
  
}

.coche-detalles {
  font-size: 16px;
  margin-top: 10px;
}




.CocheItem {
  width: 100%; 
  max-width: 100%; 
 
}

  /* Footer */
  .footer2 {
      width: 100%;
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
  }

  .CochePortada2 {
    max-width: 100%; 
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: -85px;
    font-size: 15px;
  }

  .filtro {
      font-size: 15px;  
      width: 75px;  
      margin-right: 4px;
      
  }

  .noUi-target {
    width: 90px !important; 
  }

  form select {
    width: 55px;
    padding: 8px;
    font-size: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
  }

  .noUi-horizontal .noUi-tooltip {
    font-size: 8px;
    
  }

  form {
      
      margin-top: 20px;
      margin-left: -14px;
      

  }
  
 /* Logo más grande sin cambiar el tamaño del header */
.navegacion-movil img.foto2 {
  width: 200px;  
  height: auto;  
  transform: scale(1.2); 
  transition: transform 0.3s ease;  
  margin-left: 25px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);                                          
  width: 100%;
  height: 190px;
  
  position: relative; 
}

/* Si deseas que el logo se ajuste bien en pantallas pequeñas */
@media (max-width: 425px) {
  .navegacion-movil img.foto2 {
      width: 180px;  
      margin-top: 10px;
  }


.simbolo-usuario {
  font-size: 30px;  
  margin-right: 10px;  
  margin-left: 30px; 
  color: #ffffff;
}

/* Ajustes del simbolo de menú */
.simbolo-menu {
  font-size: 30px;  
  margin-left: 90px;  
  color: #ffffff;
}

  
}

}

@media (max-width: 390px) {
   
  body {
    width: 100%;
  }
  

  .header .forma svg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    
    
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -48px;
    left: -23%;
    transform: translateX(-50%);
    
    width: 180px;
  }

  .title {
    margin-bottom: 70px;
    width: 100%;
    font-size: 1.6em;
    text-align: center;
    white-space: pre-wrap; 
  }

  
    /* Ocultar el menú de navegación principal */
    .navegacion {
        display: none;
    }
  }
    @media (max-width: 390px) {

     
    /* Menú móvil */
/* Menú de navegación */
.navegacion-movil ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  list-style: none;
  font-size: 16px;
  position: relative;
  height: 14vh;
  
}




.navegacion-movil .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  background-color: rgba(51, 51, 51, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: auto;
}

.navegacion-movil .sub-menu li {
  text-align: center;
}

.navegacion-movil .menu-desplegable {
  position: relative;  
  margin-top: 15px;
  
}

.navegacion-movil .menu-desplegable:hover .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion-movil .menu-activo .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efectos hover en los enlaces del sub-menú */
.navegacion-movil .sub-menu a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion-movil .sub-menu a:hover {
  background-color: #444;
  color: #ff9e00; 
}




.navegacion-movil .sub-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  
}


.simbolo-usuario:hover,
.simbolo-menu:hover {
  color: #ff0000; 
}



/* Ajustes para mejorar la visibilidad del sub-menú */
.navegacion-movil .sub-menu li {
  transition: background-color 0.3s ease;
}

.navegacion-movil .menu-desplegable:hover .sub-menu li:hover {
  background-color: #444;
}
}
@media (max-width: 390px) {
  /* Botones */
  .boton {
  
    width: 100%; 
    height: 70px; 
    font-size: 18px; 
}

/* Contenedor de coches */
.CocheContainer {
    gap: 350px;  
    grid-template-columns: 1fr; 
    display: grid; 
}

.contenedor {
  margin-top: 140px;
  width: 100%;
  min-height: 250vh;
  
}

.contenedor2 {
  position: relative;
  
}

/* Contenedor de coches */
.CocheContainer2 {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 60px; 
  
}

.coche-detalles {
  font-size: 12px;
  margin-top: 10px;
}




.CocheItem {
  width: 100%; 
  max-width: 100%; 
 
}

  /* Footer */
  .footer2 { 
      width: 100%;
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
  }

  .CochePortada2 {
    max-width: 100%; 
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: -100px;
    font-size: 15px;
  }

  .filtro {
      font-size: 15px;  
      width: 67px; 
      margin-right: -0px;
     
      
  }

  .noUi-target {
    width: 90px !important; 

    
  }

  form select {
    width: 55px;
    padding: 8px;
    font-size: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
  }

  .noUi-horizontal .noUi-tooltip {
    font-size: 8px;
    
  }

  form {
      
      margin-top: 20px;
      margin-left: -9px;
      

  }
  
 /* Logo más grande sin cambiar el tamaño del header */
.navegacion-movil img.foto2 {
  width: 200px;  
  height: auto;  
  transform: scale(1.2);  
  transition: transform 0.3s ease;  
  margin-left: 25px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);                                             
  width: 100%;
  height: 190px;
  
  position: relative; 
}

/* Si deseas que el logo se ajuste bien en pantallas pequeñas */
@media (max-width: 390px) {
  .navegacion-movil img.foto2 {
      width: 180px;  
      margin-top: 10px;
  }


.simbolo-usuario {
  font-size: 30px;  
  margin-right: 10px;  
  margin-left: 40%;  
  color: #ffffff;
}

/* Ajustes del simbolo de menú */
.simbolo-menu {
  font-size: 30px;  
  margin-left: 100%;  
  color: #ffffff;
}

  
}

}



@media (max-width: 320px) {
  
  body {
    width: 100%;
  }
  

  .header .forma svg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    
    
  }

  /* Ajustar logo y título */
  .header .overlay img {
      max-width: 70%;
  }

  .foto {
    position: absolute;
    top: -48px;
    left: -23%;
    transform: translateX(-50%);
    
    width: 180px;
  }

  .title {
    margin-bottom: 70px;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    white-space: pre-wrap; 
  }

  
    /* Ocultar el menú de navegación principal */
    .navegacion {
        display: none;
    }
  }
    @media (max-width: 320px) {
    /* Menú móvil */
/* Menú de navegación */
.navegacion-movil ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
  list-style: none;
  font-size: 16px;
  position: relative;
  height: 14vh;
  
}




.navegacion-movil .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: auto;
  background-color: rgba(51, 51, 51, 0.95);
  list-style: none;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: auto;
}

.navegacion-movil .sub-menu li {
  text-align: center;
}

.navegacion-movil .menu-desplegable {
  position: relative;  
  margin-top: 15px;
  
}

.navegacion-movil .menu-desplegable:hover .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.navegacion-movil .menu-activo .sub-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Efectos hover en los enlaces del sub-menú */
.navegacion-movil .sub-menu a {
  color: white;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navegacion-movil .sub-menu a:hover {
  background-color: #444;
  color: #ff9e00; 
}




.navegacion-movil .sub-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
  
}


.simbolo-usuario:hover,
.simbolo-menu:hover {
  color: #ff0000; 
}



/* Ajustes para mejorar la visibilidad del sub-menú */
.navegacion-movil .sub-menu li {
  transition: background-color 0.3s ease;
}

.navegacion-movil .menu-desplegable:hover .sub-menu li:hover {
  background-color: #444;
}
}
@media (max-width: 320px) {
  /* Botones */
  .boton {
  
    width: 90%; 
    height: 70px; 
    font-size: 18px;
}

/* Contenedor de coches */
.CocheContainer {
    gap: 150px;  
    grid-template-columns: 1fr; 
    display: grid; 
   
}

.contenedor {
  margin-top: 140px;
  width: 100%;
  min-height: 270vh;
  
}

.contenedor2 {
  position: relative;
  
}

/* Contenedor de coches */
.CocheContainer2 {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 60px; 
  
}

.coche-detalles {
  font-size: 10px;
  margin-top: 10px;
}




.CocheItem {
  width: 320px; 
  max-width: 550px; 
 
}

  /* Footer */
  .footer2 { 
      width: 100%;
  }

  /* Ajustar los contenedores dentro del footer */
  .imgfooter {
      width: 120px;
  }

  /* Mejorar visibilidad de botones y elementos interactivos */
  .boton:hover {
      transform: scale(1.1);
  }

  .CocheItem2 {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
  }

  .CochePortada2 {
    max-width: 100%; 
  }

  /* Otros ajustes */
  .CocheItem {
      margin-bottom: 30px;
  }

  .etiqueta-reservado {
    top: -135px;
    font-size: 15px;
  }

  .filtro {
      font-size: 12px;  
      max-width: 65px;  
      margin-right: -15px;
      
  }

  .noUi-target {
    width: 40px !important; 

    
  }

  .noUi-horizontal .noUi-handle {
    width: 17px !important;
    height: 28px;
    right: -17px  !important;
    top: -6px;
}

.noUi-handle:after {
  left: 1px !important;
}

 

  form select {
    width: 55px;
    padding: 8px;
    font-size: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
  }

  .noUi-horizontal .noUi-tooltip {
    font-size: 8px;
    margin-left: -2px;
  }

  form {
      
      margin-top: 20px;
      margin-left: -10px;
      

  }
  
 /* Logo más grande sin cambiar el tamaño del header */
.navegacion-movil img.foto2 {
  width: 200px; 
  height: auto;  
  transform: scale(1.2);  
  transition: transform 0.3s ease;  
  margin-left: 25px;
}

.fondo_filtro {
  background: linear-gradient(90deg, #752020,#fc1c03, #752020);                                            
  width: 100%;
  height: 190px;
  
  position: relative; 
}

/* Si deseas que el logo se ajuste bien en pantallas pequeñas */
@media (max-width: 320px) {
  .navegacion-movil img.foto2 {
      width: 180px; 
      margin-top: 10px;
  }


.simbolo-usuario {
  font-size: 30px;  
  margin-right: 10px;  
  margin-left: -30px;  
  color: #ffffff;
}

/* Ajustes del simbolo de menú */
.simbolo-menu {
  font-size: 30px;  
  margin-left: -30px;  
  color: #ffffff;
}

  
}

}